<script data-template-name="create-task" type="underscore">
<div class="create-form-container <% if (!visible) { %> hidden <% } %>">

    <div class="create-form-header">
      <h3>Create a task</h3>
      <span class="glyphicon glyphicon-remove create-task-close"></span>
    </div>
    <form role="form" name="create" method="POST">
        <div class="form-group">
            <label for="task-name">Task Name</label>
            <input type="text" class="form-control" name="task-name" />
        </div>
        <div class="form-group">
            <label for="task-description">Task description</label>
            <textarea class="form-control" rows="3" cols="5" name="task-description"></textarea>
        </div>
        <div class="form-group">
            <label for="task-status">Task Status</label>
            <select class="form-control" name="task-status">
                <option name="not-started">Not Started</option>
                <option name="in-progress">In Progress</option>
            </select>
        </div>
        <div class="form-group">
            <label for="task-assignee">Task Assignee</label>
            <select class="form-control task-assignee" name="task-assignee">  
                <% _.each(STATE.users, function(user) { %>
                    <option name='task-assignee' data-queue-id='<%= user.id %>' value='<%= user.id %>'><%= user.name %></option>
                <% });  %>
            </select>
        </div>
        <div class="form-group">    
            <label for="new-task-queue">Queue</label>
            <select class="form-control new-task-queues" name="task-queue">
                <option name='no-queue'></option>
                <% _.each(STATE.queues, function(queue) { %>
                    <option name='<%= queue.name %>' data-queue-id='<%= queue.id %>' value='<%= queue.id %>'><%= queue.name %></option>
                <% });  %>
            </select>
        </div>
            <button type="submit" class="btn btn-default">Save</button>
            <button type="submit" class="btn btn-default create-task-close">Save & Close</button>
        </form>
    </div>
</div>
</div>
</script>
