<script data-template-name="org-selector" type="underscore">
    <div class="admin-panel">
    <form class="form-inline">    
        <% _.each(STATE.users, function(user) { %>
            <% if (STATE.user == user.id) { %>
                <a href="/admin" class="btn btn-default btn-sm user-button" role="button"><%= user.name %></a>
            <% } %>
        <% });  %>
        <span class="on">on</span>
        <select id="org-dropdown" class="form-control">
            <% _.each(STATE.orgs, function(org) { %>
                <option <% if (STATE.org.id===org.id) { %>selected<% } %> name="<%= org.name %>" value="<%= org.id %>"><%= org.name %></option>
            <% });  %>
        </select>
        <a id="logout" class="logout" href="javascript:void(0)"><span class="glyphicon glyphicon-export logout-icon" title="logout"></span></a>
    </form>
    </div>

</script>
