<script data-template-name="task-row" type="underscore">
<tr class="task-row <%= cssClass %>" id='<%= id %>' data-queue-name='<%= queue %>'>
    <td>
      <select class="form-control task-status input-sm" data-task-id=<%= id %>>
        <option name="not-started" value="not-started" <% if (status==='not-started') { %>selected<% } %>>Not Started</option>
        <option name="in-progress" value="in-progress" <% if (status==='in-progress') { %>selected<% } %>>In Progress</option>
        <option name="done" value="done" <% if (status==='done') { %>selected<% } %>>Done</option>
      </select>
    </td>
    <td  class="task-name"><span class="task-name-container"><%= name %></span><span class="edit-task-name glyphicon glyphicon-pencil" id='<%= id %>' data-task-name='<%= name %>'></span></td>
    <td>
       <select class="form-control task-assignee input-sm" data-task-id=<%= id %>>
         <option name='no-user'></option>
         <% _.each(STATE.users, function(user) { %>
           <option <% if (assignee===user.id) { %>selected<% } %> value='<%= user.id %>'><%= user.name %></option>
        <% });  %>
      </select>
   </td>
    <td><%= created_date %></td>
    <td>
        <select class="form-control task-queues input-sm" data-task-id=<%= id %>>
            <option name='no-queue'></option>
        <% _.each(STATE.queues, function(otherQueue) { %>
            <option name='<%= otherQueue.id %>' data-queue-id='<%= otherQueue.id %>' <% if (otherQueue.id===queue) { %>selected<% } %> value='<%= otherQueue.id %>'><%= otherQueue.name %></option>
        <% });  %>
        </select>
    <td class="tag-column">
      <input type="hidden" data-task-id="<%= id %>" class="task-tags" value="<%= tags %>"></input>
      <div class="task-tags-display <%= tagsClass %>"><%= tagsDisplay %></div>
      </td>
    <td><span class="glyphicon glyphicon-remove del-task" data-task-id="<%= id %>"></button>
  </tr>
</script>
