<script data-template-name="task-list" type="underscore">
  <% if (queue) { %>
    <div class="row queue-header-container">
        <div class="col-md-4">
            <span class="toggle-queue" data-queue-id="<%= queue.id %>">
                <span class="glyphicon glyphicon-minus remove-queue"</span>
            </span> 
        </div>
        <div class="col-md-4 queue-header">
            <span><%= queue.name %></span>
        </div>
        <div class="col-md-4">
            <span class="queue-actions">
                <span class="glyphicon glyphicon-remove delete-queue"></span>
                <span class="glyphicon glyphicon-check delete-queue"></span>
            </span>
        </div>
    </div>
    <hr>
  <% } %>
  <table data-queue-name="<% if (queue) { %><%= queue.id %><% } %>" class="table table-striped tasks-table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Task Name</th>
        <th>Assignee</th>
        <th>Date Created</th>
        <th>Lists</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <%= tasks %>
  </table>
  <h4 id="no-task-message" <% if (tasks) { %>style="display:none"<% } %>>
    <% if (queue) { %>
      This queue has no tasks, add one above! 
    <% } else { %>
      No tasks found for you, add one above! 
    <% } %>
  </h4>
</script>
