{% extends "base.html" %}
{% block js %}
  {{ super() }}
  <script src="static/js/admin.js"></script>
{% endblock %}


{% block body %}
<div class="container">    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="message">{{messages|first}}</div>
        {% endif %}
    {% endwith %}
    <label for="org-search">Search Projects</label>
    <input type="text" name="org-search" id ="org-search">
    <button class="btn" id="search">Search Projects</button>
    <div class="search-results"></div>
    
    <h4>My Projects</h4>    
    <p>
    <ul class="my-org-list">
    {% if user.orgs %}
        {% for org in user.orgs %}
            <li data-org-id="{{org.id}}">{{org.name}}</li>
        {% endfor %}
    {% else %}
        <p class="no-org">Join a Project below!</p>
    {% endif %}
    
    </ul></p>
    <h4>Add User to Project</h4>
    <label for="org">Project</label>
    <input type="text" name="org" id ="org">
    <label for="user">User</label>
    <input type="text" name="user" id="user">
    <button class="btn" id="add-user">Add</button>
    <div class="user-org-results"></div>

    <h4>Create an Project</h4>
    <label for="org-name">Project</label>
    <input type="text" name="org-name" id ="org-name">
    <label for="users">Users</label>
    <input type="text" name="users" id="users">
    <button class="btn" id="create-org">Create</button>
    <div class="org-creation-results"></div>
    <h4>My Information</h4>
    <div class="row">
      <div class="col-md-2">
        <p><u>Username</u></p>
        <p><div class="username">{{user.username}}</div></p>
      </div>
      <div class="col-md-2">
        <p><u>Name</u></p>
        <p><div class="name" contenteditable>{{user.name}}</div></p>
        <div class="updates"></div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <select class="form-control org-list">
                {% for org in user.orgs %}
                    <option name="{{org.name}}" value="{{org.id}}">{{org.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success task-home" {% if not user.orgs %}disabled{% endif %}>Get Started</button>
        </div>
</div>
{% endblock %}
