{% extends "base.html" %}
{% block js %}
  {{ super() }}
  <script src="static/js/admin.js"></script>
{% endblock %}


{% block body %}
<div class="container">    
    <label for="org-search">Search Organizations</label>
    <input type="text" name="org-search" id ="org-search">
    <button class="btn" id="search">Search Orgs</button>
    <div class="search-results"></div>
    
    <h4>My Organizations</h4>    
    <p>
    <ul class="my-org-list">
    {% if user.orgs %}
        {% for org in user.orgs %}
            <li>{{org}}</li>
        {% endfor %}
    {% else %}
        <p>Join an Organization below!</p>
    {% endif %}
    
    </ul></p>
    <h4>Add User to Org</h4>
    <label for="org">Organization</label>
    <input type="text" name="org" id ="org">
    <label for="user">User</label>
    <input type="text" name="user" id="user">
    <button class="btn" id="add-user">Add</button>
    <div class="user-org-results"></div>

    <h4>Create an Organization</h4>
    <label for="org-name">Organization</label>
    <input type="text" name="org-name" id ="org-name">
    <label for="users">Users</label>
    <input type="text" name="users" id="users">
    <button class="btn" id="create-org">Create</button>
    <div class="org-creation-results"></div>
    <h4>My Information</h4>
    <div class="row">
      <div class="col-md-2">
        <p>Username</p>
        <p>{{user.username}}</p>
      </div>
      <div class="col-md-8">
        <p>Name</p>
        <p>{{user.name}}</p>
      </div>
    </div>
    <a class="btn btn-success" href="/" rel="keep-params">Get Started</a>
</div>
{% endblock %}
