<!DOCTYPE html>
<html>
<head>
  <title>Taskmaster</title>
  {% block css %}
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/select2-3.4.5/select2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
  {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon_tm.ico" type="image/x-icon">
    <link rel="icon" href="static/images/favicon_tm.ico" type="image/x-icon">
</head>
<body>
  <div class="row">
    <div class="col-md-4">
        <a href="/"><h1>Taskmaster</a>
        <a href="#" class="btn btn-primary create-tasks" role="button">Create Tasks</a></h1>
    </div>
    {% block header_row %}
    {% endblock %}
  </div>
  <div class="underline"></div>
  {% block body %}
  {% endblock %}

  {% block js %}
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/select2-3.4.5/select2.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="static/js/jquery.dataTables.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/js/common.js"></script>
  {% endblock %}
</body>
</html>
