{% extends "base.html" %}

{% block js %}
  {{ super() }}
  <script type="text/javascript">
    var STATE = {{state|safe}};
  </script>
  <script src="static/js/filter.js"></script>
  <script src="static/js/main.js"></script>
{% endblock %}


{% block header_row %}
<h1></h1>
<input type="text" placeholder="filter" id="filter-tasks"></input>

{% endblock %}

{% block body %}

{% include '_queue_row.html' %}
{% include '_task_row.html' %}
{% include '_task_list.html' %}
{% include '_task_details.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h5><u>Queues</u></h5>
        <ul class="list-unstyled" id="queue-list">
        </ul>
         <input type="text" class="form-control input-sm queue-box" id="queue-name">
         <button class="btn btn-info btn-sm" id="create-queue">Create Queue</a>
    </div>
    <div id="task-view" class="col-md-10 border-left">
    </div>
  </div>
</div>
{% endblock %}
