{% extends "base.html" %}

{% block js %}
    {{ super() }}
    <script src="static/js/main.js"></script>
    <script type="text/javascript">var TAGS = "{{tags}}";</script>
{% endblock %}

{% block body %}
 <div class="container"> 
  
  {% if tasks %}
    <div class="row">
        <div class="col-md-2">
           <h5><u>Queues</u></h5>
           <ul class="list-unstyled" id="queue-list">
           {% for queue in queues %}
             <li id="{{queue}}"><a id="{{queue}}" href="#" class="delete-queue" data-id="{{queue}}">x</a> {{queue}}</li>
           {% endfor %}
           </ul>
           <input type="text" class="form-control input-sm queue-box" id="queue-name">
           <button class="btn btn-info btn-sm" id="create-queue">Create Queue</a>
        </div>
        <div class="col-md-10 border-left">
          <table class="table table-striped">
            <tr>
                <th>Status</th>
                <th>Task Name</th>
                <th>Assignee</th>
                <th>Date Created</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Tags</th>
            </tr>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>
                    <select class="form-control" id="task-status" data-task-id={{task.id}}>
                        <option name="unassigned" value="unassigned" {% if task.status=='unassigned' %}selected{% endif %}>Unassigned</option>
                        <option name="not-started" value="not-started" {% if task.status=='not-started' %}selected{% endif %}>Not Started</option>
                        <option name="in-progress" value="in-progress" {% if task.status=='in-progress' %}selected{% endif %}>In Progress</option>
                    </select>
                </td>
                <td>{{task.name}}</td>
                <td>{{task.assignee}}</td>
                <td>{{task.created_date}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.severity}}</td>
                <td class="tag-column"><input type="hidden" data-tag-id="{{task.id}}" class="task-tags" value="{{task.tags}}"></input></td>
            </tr>
            {% endfor %}
            {% else %}
            <h4>No tasks found for you, time to get to <a href="/create">work</a>
            {% endif %}
          </table>
      </div>
    </div>
  </div>

{% endblock %}
