{% extends "base.html" %}
{% block js %}
  {{ super() }}
  <script src="static/js/admin.js"></script>
{% endblock %}


{% block body %}
    <div class="container">
    <h3 class="center-align">Welcome to Taskmaster</h3>
        <div class="sign-up">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" disabled>
            </div>
            <div class="form-group">
                <button class="btn" id="create-user">Get Some</button>
            </div>
        </div>
    </div>
{% endblock %}
