<div class="users-table-container">
  <% if (projectUsers.length > 0) { %>
    <div class="panel panel-default">
      <div class="panel-heading">Users</div>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <% if (currentUser.permissions.edit_user) { %>
              <th>Kick</th>
            <% } %>
          </tr>
        </thead>

        <tbody>
          <% _.each(projectUsers, function(projectUser) { %>
              <tr data-user-id="<%= projectUser.id %>">
                <td class="user-name-container"><%= projectUser.name %></td>
                <td class="user-role-container capitalize
                    <% if (currentUser.id !== projectUser.id &&
                      currentUser.lteRoles.indexOf(projectUser.role) >= 0) { %>permitted<% } %>
                "><%= projectUser.role %></td>

                <% if (currentUser.permissions.edit_user) { %>
                  <td>
                    <% if (currentUser.id !== projectUser.id &&
                          currentUser.lteRoles.indexOf(projectUser.role) >= 0) { %>
                      <span title="Kick user" class="kick-user glyphicon glyphicon-remove"></span>
                    <% } %>
                  </td>
                <% } %>
              </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  <% } else { %>
    There are no other users currently on this project.
  <% } %>
</div>

<div class="invites-table-container">
  <% if (currentProject.pendingInvites.length > 0) { %>
    <div class="panel panel-default">
      <div class="panel-heading">Pending Invites</div>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <% if (currentUser.permissions.edit_user) { %>
              <th>Cancel</th>
            <% } %>
          </tr>
        </thead>

        <tbody>
          <% _.each(currentProject.pendingInvites, function(invite) { %>
            <tr>
              <td class="pending-email"><%= invite.email %></td>
              <td class="pending-role capitalize"><%= invite.role %></td>
              <% if (currentUser.permissions.edit_user) { %>
                <td>
                <span title="Cancel invite" class="cancel-invite glyphicon glyphicon-remove"></span>
                </td>
              <% } %>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  <% } else { %>
    There currently no pending invites for this project.
  <% } %>
</div>

<% if (currentUser.permissions.edit_user) { %>
<div class="invite-user-container">
  <form class="invite-user">
    <input class="form-control invite-user-email" required type="email" placeholder="Enter e-mail address..."/>
    <select class="form-control invite-user-role capitalize">
      <% _.each(currentUser.lteRoles, function(role) { %>
        <option><%= role %></option>
      <% }); %>
    </select>
    <button type="submit" class="btn btn-primary">Invite</button>
  </form>
</div>
<% } %>
