.underline {
    border-bottom: 1px solid black;
    box-shadow: 3px 1px 2px #888888;
    width: 100%;
    margin-bottom: 10px;
}
.border-left {
    border-left: 1px #888888 solid;
}
.tag-column {
    width: 300px;
}
.queue-box {
    margin-bottom: 5px;
}

.queue-row {
    cursor: pointer;
}

.queue-row.selected {
    background: blue;
}
