.underline {
    border-bottom: 1px solid black;
    box-shadow: 3px 1px 2px #888888;
    width: 100%;
    margin-bottom: 10px;
}
.border-left {
    border-left: 1px #888888 solid;
}
.tag-column {
    width: 300px;
}
.queue-box {
    margin-bottom: 5px;
}

.queue-row {
    cursor: pointer;
}

.task-row {
    cursor: pointer;
}

.task-row.striked {
    text-decoration: line-through;
}

.queue-row.selected {
    background: #ddd;
}

.description-container {
    width: 50%;
}

.task-details {
    background-color:#ffffff !important;
}

table.drop-hover {
    border-style: solid;
    border-color: #0000ff;
}

.queue-row.drop-hover {
    border-style: solid;
    border-color: #0000ff;
}

.dragged-task {
    width: 150px !important; /* http://bugs.jqueryui.com/ticket/4345 */
    height: 24px !important;
    text-align:center;
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
