body {
    padding: 0px 5px 0px 5px;
}
table {
    font-size: 11px;
}
select.input-sm {
    height:28px !important;
    line-height: 20px;
}
.underline {
    border-bottom: 1px solid black;
    box-shadow: 3px 1px 2px #888888;
    width: 100%;
    margin-bottom: 10px;
}
.border-left {
    border-left: 1px #888888 solid;
}
#s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
    width: 100%;
}

.tag-column {
    width: 200px;
}

.task-tags-display.no-tags {
    font-style: italic;
}

.tag-column.editing .task-tags-display {
    display: none;
}

.queue-box {
    margin-bottom: 5px;
}

.queue-row {
    cursor: pointer;
    white-space: nowrap;
}

.queue-row.editing .display-name {
    display: none;
}

.queue-row .edit-name {
    display: none;
    width: 130px;
}

.queue-row.editing .edit-name {
    display: inline-block;
}

.edit-queue {
    top: 2px;
    margin-right: 7px;
}

.task-row {
    cursor: pointer;
}

.task-row.striked {
    text-decoration: line-through;
}

.queue-row.selected {
    background: #ddd;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ddd;
}

.description-container {
    width: 50%;
}

.task-details {
    background-color:#ffffff !important;
}

table.drop-hover {
    border: 1px solid #ddd;
    background-color: whiteSmoke;
    border-radius: 4px;

}

.queue-row.drop-hover {
    border: 1px solid #ddd;
    background-color: whiteSmoke;
    border-radius: 2px;
}

.dragged-task {
    width: 150px !important; /* http://bugs.jqueryui.com/ticket/4345 */
    height: 24px !important;
    text-align:center;
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #ddd;
}

.header-filter-container {
    margin-top: 30px;
    margin-bottom: 10px;
}

#saved-filters {
    width: 350px;
    padding: 2px 0px 5px 0px;
}
.filter-name {
    margin-right: 5px;
}
.vertical-bar {
    padding-left: 10px;
}

#filter-tasks {
    width: 300px;
}

.header-filter-container {
    width: 800px;
}

#save-filter-name {
    width: 150px;
}

.create-form-header {
    position: relative;
}

.create-form-header h3 {
    display: inline-block;
}

.create-form-header .create-task-close {
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
}
#org-selector {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    min-width: 80px;
    text-align: center;
}

#sign-up-form, #login-form {
    width: 50%;
}

#sign-up-form {
    border-right: 1px solid #aaa;
    padding-right: 20px;
}

#login-form {
    padding-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.authenticate {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
}
.center-align {
    text-align: center;
}
.admin-page {
    float: right;
    margin-right: 10px;
}
.message {
    border: 1px solid black;
    background-color: #616161;
    color: #FFF;
    text-align: center;
    padding: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.join-org {
    margin-left: 25px;
}
.sorting, .sorting_asc, .sorting_desc {
    cursor: pointer;
}
.edit-box {
    height: 25px;
    width: 90%;
    top: 4px;
    display: inline;
}
.filter {
    padding-bottom: 3px;
}
.edit-task-name {
    font-size: 13px;
    float: right;
}
.del-task {
    top: 7px;
    font-size: 9pt;
}
.remove-filter {
    top: 2px;
    left: 5px;
}

.glyphicon-remove {
    cursor: pointer;
}
.left-nav {
    font-size: 16px;
}
.left-nav-option {
    margin-top: 15px;
    padding: 4px;
    border-radius: 2px;
}
.admin-container {
    border-left: 1px solid lightgray;
}
.hidden {
    display: none;
}
.admin-panel {
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
}
.on {
    padding: 10px 10px;
}

#project-admin {
    margin-left: 5px;
}

#project-admin.selected,
#project-tasks.selected {
    background-color: #EEE;
    border: solid 1px #AAA;
    padding: 3px;
    color: #2a6496;
    cursor: default;
}

#project-button-divider {
    display: inline;
    border-right: solid 2px #BBB;
    margin-right: 5px;
}

.user-button.selected {
    color: #333;
    background-color: #ddd;
    border-color: #555;
    cursor: default;
}

.logout {
    font-size:20px;
    margin-left: 30px;
}
.user-button {
    background-color: rgba(236, 236, 236, 0.6);
}
.logout-icon {
    top: 5px;
    color: #535353;
}
.left-nav-option.active {
    background-color: lightgray;
}
.task-home {
    margin-top: 25px;
}
.admin-input {
    width: 200px;
    display: inline-block;
}
.btn-primary {
    background-color: #42CA42;
    border-color: #2FB44F;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:active, .btn-primary:focus  {
    background-color: #39AF39;
    border-color: #299744
}
.title, .title:hover, .title:active  {
    color: rgba(75, 74, 74, 0.87);
}
.btn-info {
    background-color: #CECECE;
    border-color: #B8B8B8;
}
.btn-info:hover, .btn-info:active, .btn-info:active, .btn-info:focus {
    background-color: #BBBBBB;
    border-color: #AFAFAF;
}
.select2-container, .select2-search-field, .select2-choices {
    width: 200px;
}
